<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>订单管理</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- vue ajax -->
	<script src="js/jquery.min.js"></script>
	<script src="bootstrap/dist/js/bootstrap.min.js"></script>

	<script src="js/vue.js"></script>
	<script src="js/axios.min.js"></script>

	<!-- favicon
        ============================================ -->
	<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
	<!-- Google Fonts
        ============================================ -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet"> -->
	<!-- Bootstrap CSS
        ============================================ -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- Bootstrap CSS
        ============================================ -->
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<!-- owl.carousel CSS
        ============================================ -->
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/owl.theme.css">
	<link rel="stylesheet" href="css/owl.transitions.css">
	<!-- animate CSS
        ============================================ -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- normalize CSS
        ============================================ -->
	<link rel="stylesheet" href="css/normalize.css">
	<!-- meanmenu icon CSS
        ============================================ -->
	<link rel="stylesheet" href="css/meanmenu.min.css">
	<!-- main CSS
        ============================================ -->
	<link rel="stylesheet" href="css/main.css">
	<!-- educate icon CSS
        ============================================ -->
	<link rel="stylesheet" href="css/educate-custon-icon.css">
	<!-- morrisjs CSS
        ============================================ -->
	<link rel="stylesheet" href="css/morrisjs/morris.css">
	<!-- mCustomScrollbar CSS
        ============================================ -->
	<link rel="stylesheet" href="css/scrollbar/jquery.mCustomScrollbar.min.css">
	<!-- metisMenu CSS
        ============================================ -->
	<link rel="stylesheet" href="css/metisMenu/metisMenu.min.css">
	<link rel="stylesheet" href="css/metisMenu/metisMenu-vertical.css">
	<!-- calendar CSS
        ============================================ -->
	<link rel="stylesheet" href="css/calendar/fullcalendar.min.css">
	<link rel="stylesheet" href="css/calendar/fullcalendar.print.min.css">
	<!-- datapicker CSS
		============================================ -->
	<link rel="stylesheet" href="css/datapicker/datepicker3.css">
	<!-- style CSS
        ============================================ -->
	<link rel="stylesheet" href="css/style.css">
	<!-- responsive CSS
        ============================================ -->
	<link rel="stylesheet" href="css/responsive.css">
	<!-- modernizr JS
        ============================================ -->
	<script src="js/vendor/modernizr-2.8.3.min.js"></script>
	<style>
		.add-order a {
			float: right;
			position: absolute;
            top: 20px;
            right: 35px;
			display: block;
			background: #006DF0;
			/* width: 120px; */
			padding: 6px 20px;
			/* margin: 0px 1100px; */
			color: #fff;
			border-radius: 4px;
			/* text-align: center; */
		}
		.search-order a {
			/* float: right; */
			/* position: absolute;
            top: 40px;
            right: 35px; */
			display: block;
			background: #006DF0;
			width: 120px;
			font-size: 15px;
			padding: 6px 20px;
			margin: 0px 70px;
			color: #fff;
			border-radius: 4px;
			text-align: center;
		}
		.input-group-addon{
			color: white;
			background-color: #009AD5;
		}
	</style>
</head>

<body>

<!-- Start Left menu area -->
<div class="left-sidebar-pro" >
	<nav id="sidebar" class="">
		<div class="sidebar-header">
			<a href="index.html"><img class="main-logo" src="img/logo/logo.png" alt="" /></a>
			<strong><a href="index.html"><img src="img/logo/logosn.png" alt="" /></a></strong>
		</div>
		<div class="left-custom-menu-adp-wrap comment-scrollbar">
			<nav class="sidebar-nav left-sidebar-menu-pro">
				<ul class="metismenu" id="menu1">
					<li>
						<a title="Landing Page" href="/login.html" aria-expanded="false"><span class="educate-icon educate-professor icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">登录/注册</span></a>
					</li>
					<li>
						<a title="Landing Page" href="/index.html" aria-expanded="false"><span class="educate-icon educate-apps icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">工厂首页</span></a>
					</li>
					<li>
						<a title="Landing Page" href="/product.html" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">产品管理</span></a>
					</li>
					<li>
						<a title="Landing Page" href="/equipment.html" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">设备管理</span></a>
					</li>
					<li>
						<a title="Landing Page" href="/order.html" aria-expanded="false"><span class="educate-icon educate-library icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">订单管理</span></a>
					</li>
					<li>
						<a title="Landing Page" href="/planmanage.html" aria-expanded="false"><span class="educate-icon educate-data-table icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">生产计划管理</span></a>
					</li>
					<li>
						<a title="Landing Page" href="/schedule.html" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">生产调度管理</span></a>
					</li>
					<li>
						<a title="Landing Page" href="/ordertrack.html" aria-expanded="false"><span class="educate-icon educate-interface icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">生产订单跟踪</span></a>
					</li>
				</ul>
			</nav>
		</div>
	</nav>
</div>
<!-- End Left menu area -->
<!-- 主内容 -->
<div class="all-content-wrapper" id="app" >
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="logo-pro">
					<a href="index.html"><img class="main-logo" src="img/logo/logo.png" alt="" /></a>
				</div>
			</div>
		</div>
	</div>
	<div class="header-advance-area">
		<div class="header-top-area">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="header-top-wraper">
							<div class="row">
								<div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
									<div class="menu-switcher-pro">
										<button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
											<i class="educate-icon educate-nav"></i>
										</button>
									</div>
								</div>
								<div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
									<div class="header-top-menu tabl-d-n">
										<ul class="nav navbar-nav mai-top-nav">
											<li class="nav-item"><a href="#" class="nav-link">Home</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
									<div class="header-right-info">
										<ul class="nav navbar-nav mai-top-nav header-right-menu">

											<li class="nav-item">
												<a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
													<img src="" alt="" />
													<span class="admin-name">{{userName}}</span>
													<i class="fa fa-angle-down edu-icon edu-down-arrow"></i>
												</a>
												<ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">
													<li><a @click="logout()"><span class="edu-icon edu-locked author-log-ic"></span>Log Out</a>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Mobile Menu start -->
		<div class="mobile-menu-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="mobile-menu">
							<nav id="dropdown">
								<ul class="mobile-menu-nav">
									<li><a href="events.html">Event</a></li>
									<li><a data-toggle="collapse" data-target="#demoevent" href="#">Professors <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
										<ul id="demoevent" class="collapse dropdown-header-top">
											<li><a href="all-professors.html">All Professors</a>
											</li>
											<li><a href="add-professor.html">Add Professor</a>
											</li>
											<li><a href="edit-professor.html">Edit Professor</a>
											</li>
											<li><a href="professor-profile.html">Professor Profile</a>
											</li>
										</ul>
									</li>
									<li><a data-toggle="collapse" data-target="#demopro" href="#">Students <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
										<ul id="demopro" class="collapse dropdown-header-top">
											<li><a href="all-students.html">All Students</a>
											</li>
											<li><a href="add-student.html">Add Student</a>
											</li>
											<li><a href="edit-student.html">Edit Student</a>
											</li>
											<li><a href="student-profile.html">Student Profile</a>
											</li>
										</ul>
									</li>
									<li><a data-toggle="collapse" data-target="#democrou" href="#">Courses <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
										<ul id="democrou" class="collapse dropdown-header-top">
											<li><a href="all-courses.html">All Courses</a>
											</li>
											<li><a href="add-course.html">Add Course</a>
											</li>
											<li><a href="edit-course.html">Edit Course</a>
											</li>
											<li><a href="course-profile.html">Courses Info</a>
											</li>
											<li><a href="course-payment.html">Courses Payment</a>
											</li>
										</ul>
									</li>
									<li><a data-toggle="collapse" data-target="#demolibra" href="#">Library <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
										<ul id="demolibra" class="collapse dropdown-header-top">
											<li><a href="library-assets.html">Library Assets</a>
											</li>
											<li><a href="add-library-assets.html">Add Library Asset</a>
											</li>
											<li><a href="edit-library-assets.html">Edit Library Asset</a>
											</li>
										</ul>
									</li>
									<li><a data-toggle="collapse" data-target="#demodepart" href="#">Departments <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
										<ul id="demodepart" class="collapse dropdown-header-top">
											<li><a href="departments.html">Departments List</a>
											</li>
											<li><a href="add-department.html">Add Departments</a>
											</li>
											<li><a href="edit-department.html">Edit Departments</a>
											</li>
										</ul>
									</li>
									<li><a data-toggle="collapse" data-target="#demo" href="#">Mailbox <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
										<ul id="demo" class="collapse dropdown-header-top">
											<li><a href="mailbox.html">Inbox</a>
											</li>
											<li><a href="mailbox-view.html">View Mail</a>
											</li>
											<li><a href="mailbox-compose.html">Compose Mail</a>
											</li>
										</ul>
									</li>
									<li><a data-toggle="collapse" data-target="#Miscellaneousmob" href="#">Interface <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
										<ul id="Miscellaneousmob" class="collapse dropdown-header-top">
											<li><a href="google-map.html">Google Map</a>
											</li>
											<li><a href="data-maps.html">Data Maps</a>
											</li>
											<li><a href="pdf-viewer.html">Pdf Viewer</a>
											</li>
											<li><a href="x-editable.html">X-Editable</a>
											</li>
											<li><a href="code-editor.html">Code Editor</a>
											</li>
											<li><a href="tree-view.html">Tree View</a>
											</li>
											<li><a href="preloader.html">Preloader</a>
											</li>
											<li><a href="images-cropper.html">Images Cropper</a>
											</li>
										</ul>
									</li>
									<li><a data-toggle="collapse" data-target="#Chartsmob" href="#">Charts <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
										<ul id="Chartsmob" class="collapse dropdown-header-top">
											<li><a href="bar-charts.html">Bar Charts</a>
											</li>
											<li><a href="line-charts.html">Line Charts</a>
											</li>
											<li><a href="area-charts.html">Area Charts</a>
											</li>
											<li><a href="rounded-chart.html">Rounded Charts</a>
											</li>
											<li><a href="c3.html">C3 Charts</a>
											</li>
											<li><a href="sparkline.html">Sparkline Charts</a>
											</li>
											<li><a href="peity.html">Peity Charts</a>
											</li>
										</ul>
									</li>
									<li><a data-toggle="collapse" data-target="#Tablesmob" href="#">Tables <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
										<ul id="Tablesmob" class="collapse dropdown-header-top">
											<li><a href="static-table.html">Static Table</a>
											</li>
											<li><a href="data-table.html">Data Table</a>
											</li>
										</ul>
									</li>
									<li><a data-toggle="collapse" data-target="#formsmob" href="#">Forms <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
										<ul id="formsmob" class="collapse dropdown-header-top">
											<li><a href="basic-form-element.html">Basic Form Elements</a>
											</li>
											<li><a href="advance-form-element.html">Advanced Form Elements</a>
											</li>
											<li><a href="password-meter.html">Password Meter</a>
											</li>
											<li><a href="multi-upload.html">Multi Upload</a>
											</li>
											<li><a href="tinymc.html">Text Editor</a>
											</li>
											<li><a href="dual-list-box.html">Dual List Box</a>
											</li>
										</ul>
									</li>
									<li><a data-toggle="collapse" data-target="#Appviewsmob" href="#">App views <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
										<ul id="Appviewsmob" class="collapse dropdown-header-top">
											<li><a href="basic-form-element.html">Basic Form Elements</a>
											</li>
											<li><a href="advance-form-element.html">Advanced Form Elements</a>
											</li>
											<li><a href="password-meter.html">Password Meter</a>
											</li>
											<li><a href="multi-upload.html">Multi Upload</a>
											</li>
											<li><a href="tinymc.html">Text Editor</a>
											</li>
											<li><a href="dual-list-box.html">Dual List Box</a>
											</li>
										</ul>
									</li>
									<li><a data-toggle="collapse" data-target="#Pagemob" href="#">Pages <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
										<ul id="Pagemob" class="collapse dropdown-header-top">
											<li><a href="login.html">Login</a>
											</li>
											<li><a href="register.html">Register</a>
											</li>
											<li><a href="lock.html">Lock</a>
											</li>
											<li><a href="password-recovery.html">Password Recovery</a>
											</li>
											<li><a href="404.html">404 Page</a></li>
											<li><a href="500.html">500 Page</a></li>
										</ul>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Mobile Menu end -->

		<div class="breadcome-area">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="breadcome-list single-page-breadcome">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-horizontal">
									<div class="col-lg-3">
										<div class="input-group" >
										    <span class="input-group-addon">订单编号</span>
										    <input type="text" placeholder="订单编号" class="form-control" ref="search_seq">
										</div>
									</div>
									<div class="col-lg-3 ">
										<div class="input-group" >
										    <span class="input-group-addon">订单状态</span>
										    <select class="form-control" tabindex="-1" id="" name=""
											placeholder="请选择" ref="search_status">
										    	<option value="">请选择</option>
												<option value="1">已接收</option>
												<option value="2">已拒绝</option>
												<option value="3">未处理</option>
												<option value="4">已完成</option>
												<option value="5">生产中</option>
										    </select>
										</div>

									</div>
									<div class="col-lg-3">
										<div class="input-group">
										    <span class="input-group-addon">产品名称</span>
										    <input type="text" placeholder="产品名称" class="form-control" ref="search_pro">
										</div>
									</div>
									<div class="col-lg-3 search-order">
										<a href="#" @click.prevent="submitSearch(1)"><i class="fa fa-search"></i>查询订单</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>

	<!--表格-->
	<div class="product-status mg-b-15"  >
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
					<div class="product-status-wrap">
						<div class="add-order" data-toggle="modal"
							 data-target="#myModalAddOrder">
							<a href="#">新建订单</a>
						</div>
						<h4>订单列表</h4>
						<div class="asset-inner">
							<table>
								<tr>
									<th>序号</th>
									<th>订单编号</th>
									<th>订单来源</th>
									<th>产品名称</th>
									<th>产品数量</th>
									<th>已完成数量</th>
									<th>订单截止日期</th>
									<th>订单状态</th>
									<th>工厂可用产能</th>
									<th style="text-align: center; width: 250px;">操作</th>
								</tr>
								<tr v-for="(order, index) in orders">

									<td>{{index + 1 + (pages.pageNo - 1) * pages.pageSize }}</td>
									<td>{{order.orderSeq}}</td>
									<td>线下来源</td>
									<td>{{order.productName}}</td>
									<td>{{order.productCount}}</td>
									<td>{{order.workingCount}}</td>
									<td>{{order.endDate}}</td>
									<td>
										<button class="pd-setting" v-if="order.orderStatus == 1" >已接收</button>
										<button class="ds-setting" v-if="order.orderStatus == 2" >已拒绝</button>
										<button class="ps-setting" v-if="order.orderStatus == 3" >未处理</button>
										<button class="su-setting" v-if="order.orderStatus == 4" >已完成</button>
										<button class="du-setting" v-if="order.orderStatus == 5" >生产中</button>
									</td>
									<td >200</td>
									<td style="text-align: center">
										<button data-toggle="tooltip" title="Edit" class="pd-setting-ed" v-if="order.orderStatus == 3"
												@click="changeStatus(index, 1)">
											<i class="fa fa-pencil-square-o" aria-hidden="true" ></i>接单</button>
										<button data-toggle="modal" title="Trash" class="pd-setting-ed" v-if="order.orderStatus == 3"
												data-target="#myModalRe" @click="reIndex = index;">
											<i class="fa fa-trash-o" aria-hidden="true"></i>拒单</button>
										<button  data-toggle="modal" title="Edit" class="pd-setting-ed" v-if="order.orderStatus == 1"
										data-target="#myModalToPlan" @click="toPlan = orders[index];" >
											<i class="fa fa-pencil-square-o" aria-hidden="true" ></i>转成计划</button>
										<button data-toggle="modal" title="Trash" class="pd-setting-ed" v-if="order.orderStatus == 5"
										data-target="#myModalComplete" @click="comOrder = orders[index];" >
											<i class="fa fa-trash-o" aria-hidden="true"  ></i>完成订单</button>
										<button data-toggle="tooltip" title="Edit" class="pd-setting-ed">
											<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
											<a :href="url+order.id">查看</a></button>
									</td>
								</tr>
							</table>
						</div>
						<!-- 分页-->

						<ul class="pagination">

						</ul>
						<div class="custom-pagination">
							<ul class="pagination">
								<li class="page-item"><a class="page-link" href="#"
														 @click="pages.pageNo == 1 ? pages.pageNo = 1 : pages.pageNo -= 1; getOrderByPage(pages.pageNo);">上一页</a></li>
								<li   v-for="i in pages.totalPage"  :class="[pages.pageNo != i ? '':'active']" >
									<a href="#" @click.prevent="getOrderByPage(i)">{{i}}</a>
								</li>

								<li class="page-item"><a class="page-link" href="#"
														 @click="pages.pageNo == pages.totalPage ? pages.pageNo = pages.totalPage : pages.pageNo += 1; getOrderByPage(pages.pageNo);">下一页</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- 新建订单-->
	<div class="modal fade" id="myModalAddOrder"
		 tabindex="-1" role="dialog"
		 aria-labelledby="myModalLabel" aria-hidden="true" >
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="myModalAddLabel">
						新建订单
					</h4>
				</div>
				<div class="modal-body form-horizontal" style="height: 350px;">
	
	
					<div class="form-group col-lg-12">
						<label for="osrc" class="col-lg-3 control-label">订单来源：</label>
						<div class="col-lg-9">
							<input type="text" disabled="true" class="form-control" id="osrc" name="osrc" placeholder="线下来源">
						</div>
					</div>
	
					<div class="form-group col-lg-12">
						<label for="pname" class="col-lg-3 control-label">产品名称：</label>
						<div class="col-lg-9">
							<select class="form-control" tabindex="-1" id="pname" name="pname" v-model="productId">
								<option v-for="product in products" :value="product.id">{{product.productName}}</option>
							</select>
						</div>
						<span id="IdErr" class="text-danger"></span>
					</div>
	
					<div class="form-group col-lg-12">
						<label for="pnum" class="col-lg-3 control-label">产品数量：</label>
						<div class="col-lg-9">
							<input type="text" class="form-control" id="pnum" name="pnum" placeholder="输入产品数量" v-model="productCount"/>
						</div>
						<span id="NumErr" class="text-danger"></span>
					</div>
					
	
					<div class="form-group  col-lg-12" id="data_2">
						<label for="edate" class="col-lg-3 control-label">订单截止日期：</label>
						<div class="input-group date col-lg-9">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							<input type="text" class="form-control" id="edate" ref="eDate"  v-model="eDate" />
						</div>
						<span id="DateErr" class="text-danger"></span>

					</div>
					<div class="form-group col-lg-12">
						<ul>
						  <li class="text-danger col-lg-6" style="display: block;" id="AddErr"></li>
						</ul>
					</div>	
	
	
	
	
				</div>
	
				<div class="modal-footer">
					<div>
						<button type="button" ref="btnClose" class="btn btn-default"
								data-dismiss="modal">关闭
						</button>
						<button type="button" class="btn btn-primary" @click="submitAdd()">
							创建
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 转换生产计划模块 -->
	<div class="modal fade" id="myModalToPlan"
		 tabindex="-1" role="dialog"
		 aria-labelledby="myModalLabel" aria-hidden="true" >
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="myModalToPlanLabel">
						转为生产计划
					</h4>
				</div>
				<div class="modal-body form-horizontal" style="height: 400px;">


					<div class="form-group col-lg-12">
						<label for="oseq" class="col-lg-3 control-label">订单编号：</label>
						<div class="col-lg-9">
							<input type="text" disabled="true" class="form-control" id="oseq" name="oseq" :value="toPlan.orderSeq">
						</div>
					</div>
					
					<div class="form-group col-lg-12">
						<label for="proID" class="col-lg-3 control-label">产品编号：</label>
						<div class="col-lg-9">
							<input type="text" disabled="true" class="form-control" id="proID" name="proID" :value="toPlan.productId">
						</div>
					</div>
					<div class="form-group col-lg-12">
						<label for="ppnum" class="col-lg-3 control-label">计划数量：</label>
						<div class="col-lg-9">
							<input type="text" disabled="true" class="form-control" id="ppnum" name="ppnum" :value="toPlan.productCount">
						</div>
					</div>


					<div class="form-group col-lg-12">
						<label for="deliverDate" class="col-lg-3 control-label">交货日期：</label>
						<div class="col-lg-9">
							<input type="text" disabled="true" class="form-control" id="deliverDate" name="deliverDate" :value="toPlan.endDate">
						</div>
					</div>

					<div class="form-group  col-lg-12" id="data_2">
						<label for="planStDate" class="col-lg-3 control-label">计划开始时间：</label>
						<div class="input-group date col-lg-9">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							<input type="text" class="form-control" id="planStDate" ref="planStDate" />
						</div>
					</div>


					<div class="form-group  col-lg-12" id="data_2">
						<label for="planEndDate" class="col-lg-3 control-label">计划结束日期：</label>
						<div class="input-group date col-lg-9">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							<input type="text" class="form-control" id="planEndDate" ref="planEndDate"  />
						</div>
					</div>

					<div class="form-group col-lg-12">
						<ul>
							<li class="text-danger col-lg-6" style="display: block;" id="AddPlanErr"></li>
						</ul>
					</div>




				</div>

				<div class="modal-footer">
					<div>
						<button type="button" ref="btnClose2" class="btn btn-default"
								data-dismiss="modal">关闭
						</button>
						<button type="button" class="btn btn-primary" @click="submitToPlan()">
							创建
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- 完成订单模块 -->
	<div class="modal fade" id="myModalComplete"
		 tabindex="-1" role="dialog"
		 aria-labelledby="myModalLabel" aria-hidden="true" >
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="myModalComLabel">
						确认完成订单？
					</h4>
				</div>
				<div class="modal-body form-horizontal" style="height: 500px;">
	
	
					<div class="form-group col-lg-12">
						<label for="oseq2" class="col-lg-3 control-label">订单编号：</label>
						<div class="col-lg-9">
							<input type="text" disabled="true" class="form-control" id="oseq2" name="oseq" :value="comOrder.orderSeq">
						</div>
					</div>
					
					<div class="form-group col-lg-12">
						<label for="proName" class="col-lg-3 control-label">产品名称：</label>
						<div class="col-lg-9">
							<input type="text" disabled="true" class="form-control" id="proName" name="proName" :value="comOrder.productName">
						</div>
					</div>

					<div class="form-group col-lg-12">
						<label for="deliverDate2" class="col-lg-3 control-label">订单截止日期：</label>
						<div class="col-lg-9">
							<input type="text" disabled="true" class="form-control" id="deliverDate2" name="deliverDate2" :value="comOrder.endDate">
						</div>
					</div>

					<div class="form-group col-lg-12">
						<label for="ppnum2" class="col-lg-3 control-label">产品数量：</label>
						<div class="col-lg-9">
							<input type="text" disabled="true" class="form-control" id="ppnum2" name="ppnum2" :value="comOrder.productCount">
						</div>
					</div>
					<div class="form-group col-lg-12">
						<label for="cCurNum" class="col-lg-3 control-label">已完成数量：</label>
						<div class="col-lg-9">
							<input type="text" disabled="true" class="form-control" id="cCurNum" name="ppnum2" :value="comOrder.workingCount">
						</div>
					</div>

					<div class="form-group col-lg-12">
						<label for="comment" class="col-lg-3 control-label" >备注：</label>
					</div>
					<div class="col-lg-10 col-lg-offset-1">
						<textarea class=" col-lg-12" rows="4" id="comment" v-model="comComment"></textarea>
					</div>
	
					<div class=" col-lg-12">
						<ul>
							<li class="text-danger col-lg-6" style="display: block;" id="ComErr"></li>
						</ul>
					</div>
	
	
	
	
				</div>
	
				<div class="modal-footer">
					<div>
						<button type="button" ref="btnClose3" class="btn btn-default"
								data-dismiss="modal">关闭
						</button>
						<button type="button" class="btn btn-primary" @click="submitCom()">
							确认
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--拒绝模态框-->
	<div class="modal fade" id="myModalRe"
		 tabindex="-1" role="dialog"
		 aria-labelledby="myModalLabel" aria-hidden="true" >
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="myModalReLabel">
						拒绝订单
					</h4>
				</div>
				<div class="modal-body form-horizontal" style="height: 500px;">

					<div class="form-group col-lg-12">
						<label for="recomment" class="col-lg-3 control-label" >拒绝理由：</label>
					</div>
					<div class="col-lg-10 col-lg-offset-1">
						<textarea class=" col-lg-12" rows="4" id="reComment" v-model="reComment"></textarea>
					</div>

					<div class=" col-lg-12">
						<ul>
							<li class="text-danger col-lg-6" style="display: block;" id="reErr"></li>
						</ul>
					</div>

				</div>

				<div class="modal-footer">
					<div>
						<button type="button" ref="btnClose4" class="btn btn-default"
								data-dismiss="modal">关闭
						</button>
						<button type="button" class="btn btn-primary" @click="submitRe()">
							确认
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 主内容结束 -->
</div>





<!-- jquery
    ============================================ -->
<script src="js/vendor/jquery-1.12.4.min.js"></script>
<!-- bootstrap JS
    ============================================ -->
<script src="js/bootstrap.min.js"></script>
<!-- wow JS
    ============================================ -->
<script src="js/wow.min.js"></script>
<!-- price-slider JS
    ============================================ -->
<script src="js/jquery-price-slider.js"></script>
<!-- meanmenu JS
    ============================================ -->
<script src="js/jquery.meanmenu.js"></script>
<!-- owl.carousel JS
    ============================================ -->
<script src="js/owl.carousel.min.js"></script>
<!-- sticky JS
    ============================================ -->
<script src="js/jquery.sticky.js"></script>
<!-- scrollUp JS
    ============================================ -->
<script src="js/jquery.scrollUp.min.js"></script>
<!-- mCustomScrollbar JS
    ============================================ -->
<script src="js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/scrollbar/mCustomScrollbar-active.js"></script>
<!-- metisMenu JS
    ============================================ -->
<script src="js/metisMenu/metisMenu.min.js"></script>
<script src="js/metisMenu/metisMenu-active.js"></script>
<!-- morrisjs JS
    ============================================ -->
<script src="js/sparkline/jquery.sparkline.min.js"></script>
<script src="js/sparkline/jquery.charts-sparkline.js"></script>
<!-- calendar JS
    ============================================ -->
<script src="js/calendar/moment.min.js"></script>
<script src="js/calendar/fullcalendar.min.js"></script>
<script src="js/calendar/fullcalendar-active.js"></script>
<!-- plugins JS
    ============================================ -->
<script src="js/plugins.js"></script>
<!-- main JS
    ============================================ -->
<script src="js/main.js"></script>


<!-- tawk chat JS
    ============================================ -->
<!-- <script src="js/tawk-chat.js"></script> -->
</body>
</html>

<script>
	var vue = new Vue({
		el:"#app",
		data:{
			orders: [],
			pages:{},
			eDate:null,
			productId:null,
			productCount:null,


			//匹配dd/MM/yyyy的正则表达式
			regDate: /^([0]?[1-9]|[1|2][0-9]|[3][0|1])[/]([0]?[1-9]|[1][0-2])[/]([0-9]{4}|[0-9]{2})$/,

			toPlan:{},
			planStDate:null,
			planEndDate:null,

			//完成选中的订单
			comOrder:{},
			comComment:null,

			//这里一定要设置为""，不能设置null，null的话会传过去一个字符串'null'
			searchSeq:"",
			searchStatus:"",
			searchPro:"",

			//查看请求的地址
			url:"http://localhost:8080/productOrder/checkOrder?orderId=",


			/*拒绝的参数*/
			reComment:null,
			reIndex:null,

			//预处理
			products:[],
			yields:[],


		},

		methods:{

			add:function(m){return m<10?'0'+m:m},

			fortime:function(timeStamp){
				var time = new Date(timeStamp);
				var y = time.getFullYear();
				var m = time.getMonth()+1;
				var d = time.getDate();
				return y+'-'+this.add(m)+'-'+this.add(d);
			},


			getProducts:function(){
				axios
						.get('http://localhost:8080/productOrder/getProducts')
						.then(response =>{
							//清空产品集合对象
							this.products=null;

							//取响应数据赋值给vue对象中的对象
							this.products=response.data.data;
						})
						.catch(function (error) { // 请求失败处理
							console.log(error);
						});
			},


			refresh:function(){
				this.$forceUpdate();
			},


			//正常的显示。
			//不用获取当前查询的参数。当前参数只有在点击查询之后才会改变。
			//查询的时候是获取参数，然后再调用这个函数。
			getOrderByPage:function(i){
				formData = new FormData;
				formData.append("orderSeq", this.searchSeq);
				formData.append("orderStatus", this.searchStatus);
				formData.append("productName", this.searchPro);
				axios
						.post("http://localhost:8080/productOrder/searchOrderByPage?page=" + i, formData)
						.then(response =>{
							//清空订单集合对象
							this.orders=null;
							//清空page对象
							this.pages=null;
							//取响应数据赋值给vue对象中的对象
							this.orders=response.data.orders;
							this.pages=response.data.pages;
							for(var i = 0; i < this.orders.length; i++){
								this.orders[i].endDate = this.fortime(this.orders[i].endDate);
							}

						})
						.catch(function(error){
							console.log(error);
						});
			},

			//拒绝订单
			submitRe:function(){
				const formData = new FormData();
				formData.append("id", this.orders[this.reIndex].id);
				formData.append("status", 2);
				formData.append("bak", this.reComment);
				axios
						.post("http://localhost:8080/productOrder/Reorder", formData)
						.then(response =>{
							if(response.data.result == true){
								console.log(1111);
								// console.log(this.orders[2].orderStatus);
								this.orders[this.reIndex] = response.data.data;
								// console.log(response.data.data.orderStatus);
								// console.log(this.orders[2]);
								this.$refs.btnClose4.click();
								this.getOrderByPage(this.pages.pageNo);
								alert("成功拒绝");

							}
							else{
								alert("no");
							}

						})
						.catch(function(error){
							console.log(error);
						});

			},

			//接收订单
			changeStatus:function(index, st) {
				console.log(this.orders[0].id)
				var cur = this.orders[index];

				const formData = new FormData();
				formData.append("id", cur.id);
				formData.append("status", 1);

				axios
						.post("http://localhost:8080/productOrder/orderStatus", formData)
						.then(response =>{
							if(response.data.result == true){
								this.orders[index] = response.data.data;
								this.$forceUpdate();
							}

						})
						.catch(function(error){
							console.log(error);
						});

			},

			//添加订单
			submitAdd:function(){

				this.eDate = this.$refs.eDate.value;
				console.log(this.eDate);
				console.log(this.productId);
				console.log(this.productCount);
				if(this.productId == null || this.productId == ""){
					document.getElementById("AddErr").innerText = "产品不能为空";
					return;
				}
				if(this.productCount == null || this.productCount == ""){
					document.getElementById("AddErr").innerText = "数量不能为空";
					return;

				}
				if(this.eDate == null || !this.regDate.test(this.eDate)){
					document.getElementById("AddErr").innerText = "日期不能为空";
					return;
				}
				
				const formData = new FormData();

				formData.append("productId", this.productId);
				formData.append("productCount", this.productCount);
				formData.append("eDate", this.eDate);
				axios
					.post("http://localhost:8080/productOrder/addOrder", formData)
					.then(response =>{
						if(response.data.result){
							alert("新建成功！");
							this.$refs.btnClose.click();
							this.getOrderByPage(1);
							this.getProducts();
							// window.location="http://localhost:8080/order.html";
						}else{
							alert(response.data.errMsg);
						}
					})
					.catch(function (error) { // 请求失败处理
					    console.log(error);
					});
			},

			/*转成生产计划*/
			submitToPlan:function(){

				this.planStDate = this.$refs.planStDate.value;
				this.planEndDate = this.$refs.planEndDate.value;

				console.log(this.planStDate);
				console.log(this.planEndDate);
				console.log(this.regDate.test(this.planStDate));
				if(this.planStDate == null || !this.regDate.test(this.planStDate)){
					document.getElementById("AddPlanErr").innerText = "日期不能为空";
					return;
				}
				if(this.planEndDate == null || !this.regDate.test(this.planEndDate)){
					document.getElementById("AddPlanErr").innerText = "日期不能为空";
					return;
				}

				const formData = new FormData();

				//前端对象变成JSON字符串
				var jsonOrder = JSON.stringify(this.toPlan);
				console.log(111);
				formData.append("order", jsonOrder);
				formData.append("planSt", this.planStDate);
				formData.append("planEnd", this.planEndDate);
				axios
						.post("http://localhost:8080/productOrder/addPlan", formData)
						.then(response =>{
							if(response.data.result){
								alert("新建成功！");
								this.$refs.btnClose2.click();
								this.getOrderByPage(this.pages.pageNo);
								// this.getProducts();
								// window.location="http://localhost:8080/order.html";
							}else{
								alert(response.data.errMsg);
							}
						})
						.catch(function (error) { // 请求失败处理
							console.log(error);
						});
			},
			
			submitCom:function(){
				
				formData = new FormData;
				formData.append("id", this.comOrder.id);
				formData.append("status", 4);
				formData.append("bak", this.comComment);
				axios
						.post("http://localhost:8080/productOrder/comOrder", formData)
						.then(response =>{
							if(response.data.result == true){
								for(i = 0; i < this.orders.length; i++){
									if(this.orders[i].id == response.data.data.id){
										this.orders[i] = response.data.data;
										//时间戳转换成格式显示。
										this.orders[i].endDate = this.fortime(this.orders[i].endDate);
										break;
									}
								}
								this.$refs.btnClose3.click();
								this.$forceUpdate();
							}
				
						})
						.catch(function(error){
							console.log(error);
						});
			},
			

			getSearchParam:function(){
				//点击查询按钮之后，获取数据，进行动态查询
				this.searchSeq = this.$refs.search_seq.value;
				this.searchStatus = this.$refs.search_status.value;
				this.searchPro = this.$refs.search_pro.value;
			},

			/*预处理，获取产能，填入表格*/
			getYields:function(){
				axios
						.get('http://localhost:8080/productOrder/getYields')
						.then(response =>{
							//清空产品集合对象
							this.yields=null;

							//取响应数据赋值给vue对象中的对象
							this.yields=response.data.data;
							this.yields.push({"productId":null, "yield":0});
						})
						.catch(function (error) { // 请求失败处理
							console.log(error);
						});
			},

			submitSearch:function(){
				this.getSearchParam();
				this.getOrderByPage(1);
			},
			getUser:function () {
				axios
						.get("http://localhost:8080/getUser")
						.then(response =>{
							if(response.data.result == true){
								this.userName = response.data.data;
							}else {
								alert("您未登录")
								window.location.href = 'http://localhost:8080/login.html';
							}
						})
						.catch(function(error){
							console.log(error);
						});
			},
			logout:function () {
				axios
						.get("http://localhost:8080/logout")
						.then(response =>{
							window.location.href = 'http://localhost:8080/login.html';
						})
						.catch(function(error){
							console.log(error);
						});
			}
		},

		created() {
			this.getUser();
		},

		mounted() {
			this.getYields();
			this.getOrderByPage(1);
			this.getProducts();
		}
	})
</script>
<!-- datapicker JS
	============================================ -->
<script src="js/datapicker/bootstrap-datepicker.js"></script>
<script src="js/datapicker/datepicker-active.js"></script>

<!-- jquery
    ============================================ -->
<script src="js/vendor/jquery-1.12.4.min.js"></script>
<!-- bootstrap JS
    ============================================ -->
<script src="js/bootstrap.min.js"></script>
<!-- wow JS
    ============================================ -->
<script src="js/wow.min.js"></script>
<!-- price-slider JS
    ============================================ -->
<script src="js/jquery-price-slider.js"></script>
<!-- meanmenu JS
    ============================================ -->
<script src="js/jquery.meanmenu.js"></script>
<!-- owl.carousel JS
    ============================================ -->
<script src="js/owl.carousel.min.js"></script>
<!-- sticky JS
    ============================================ -->
<script src="js/jquery.sticky.js"></script>
<!-- scrollUp JS
    ============================================ -->
<script src="js/jquery.scrollUp.min.js"></script>
<!-- mCustomScrollbar JS
    ============================================ -->
<script src="js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/scrollbar/mCustomScrollbar-active.js"></script>
<!-- metisMenu JS
    ============================================ -->
<script src="js/metisMenu/metisMenu.min.js"></script>
<script src="js/metisMenu/metisMenu-active.js"></script>
<!-- morrisjs JS
    ============================================ -->
<script src="js/sparkline/jquery.sparkline.min.js"></script>
<script src="js/sparkline/jquery.charts-sparkline.js"></script>
<!-- calendar JS
    ============================================ -->
<script src="js/calendar/moment.min.js"></script>
<script src="js/calendar/fullcalendar.min.js"></script>
<script src="js/calendar/fullcalendar-active.js"></script>
<!-- plugins JS
    ============================================ -->
<script src="js/plugins.js"></script>
<!-- main JS
    ============================================ -->
<script src="js/main.js"></script>


<!-- tawk chat JS
    ============================================ -->
<!-- <script src="js/tawk-chat.js"></script> -->
