<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nobugs.dao.TDailyWorkMapper" >
  <resultMap id="BaseResultMap" type="com.nobugs.entity.TDailyWork" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_userid" property="createUserid" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_userid" property="updateUserid" jdbcType="INTEGER" />
    <result column="schedule_id" property="scheduleId" jdbcType="INTEGER" />
    <result column="equipment_id" property="equipmentId" jdbcType="INTEGER" />
    <result column="equipment_seq" property="equipmentSeq" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="working_count" property="workingCount" jdbcType="INTEGER" />
    <result column="qualified_count" property="qualifiedCount" jdbcType="INTEGER" />
    <result column="unqualified_cout" property="unqualifiedCout" jdbcType="INTEGER" />
    <result column="complete_flag" property="completeFlag" jdbcType="INTEGER" />
    <result column="factory_id" property="factoryId" jdbcType="INTEGER" />
    <result column="bak" property="bak" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, flag, create_time, create_userid, update_time, update_userid, schedule_id, equipment_id, 
    equipment_seq, start_time, end_time, working_count, qualified_count, unqualified_cout, 
    complete_flag, factory_id, bak
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_daily_work
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="searchByPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_daily_work
    where schedule_id = #{t.scheduleId,jdbcType=INTEGER}
  </select>

  <!--找出一个计划对应的所有报工信息-->
  <select id="selectByPlanId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    SELECT dw.*, s.schedule_count, s.schedule_seq
    FROM t_daily_work AS dw
		 LEFT JOIN t_product_schedule AS s ON (dw.schedule_id = s.id)
		 LEFT JOIN schedule_plan AS sp ON (dw.schedule_id = sp.schedule_id)
    where sp.plan_id = #{planId,jdbcType=INTEGER}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_daily_work
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nobugs.entity.TDailyWork" >
    insert into t_daily_work (id, flag, create_time, 
      create_userid, update_time, update_userid, 
      schedule_id, equipment_id, equipment_seq, 
      start_time, end_time, working_count, 
      qualified_count, unqualified_cout, complete_flag, 
      factory_id, bak)
    values (#{id,jdbcType=INTEGER}, #{flag,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUserid,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUserid,jdbcType=INTEGER}, 
      #{scheduleId,jdbcType=INTEGER}, #{equipmentId,jdbcType=INTEGER}, #{equipmentSeq,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{workingCount,jdbcType=INTEGER}, 
      #{qualifiedCount,jdbcType=INTEGER}, #{unqualifiedCout,jdbcType=INTEGER}, #{completeFlag,jdbcType=INTEGER}, 
      #{factoryId,jdbcType=INTEGER}, #{bak,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nobugs.entity.TDailyWork" >
    insert into t_daily_work
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUserid != null" >
        create_userid,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUserid != null" >
        update_userid,
      </if>
      <if test="scheduleId != null" >
        schedule_id,
      </if>
      <if test="equipmentId != null" >
        equipment_id,
      </if>
      <if test="equipmentSeq != null" >
        equipment_seq,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="workingCount != null" >
        working_count,
      </if>
      <if test="qualifiedCount != null" >
        qualified_count,
      </if>
      <if test="unqualifiedCout != null" >
        unqualified_cout,
      </if>
      <if test="completeFlag != null" >
        complete_flag,
      </if>
      <if test="factoryId != null" >
        factory_id,
      </if>
      <if test="bak != null" >
        bak,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserid != null" >
        #{createUserid,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserid != null" >
        #{updateUserid,jdbcType=INTEGER},
      </if>
      <if test="scheduleId != null" >
        #{scheduleId,jdbcType=INTEGER},
      </if>
      <if test="equipmentId != null" >
        #{equipmentId,jdbcType=INTEGER},
      </if>
      <if test="equipmentSeq != null" >
        #{equipmentSeq,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="workingCount != null" >
        #{workingCount,jdbcType=INTEGER},
      </if>
      <if test="qualifiedCount != null" >
        #{qualifiedCount,jdbcType=INTEGER},
      </if>
      <if test="unqualifiedCout != null" >
        #{unqualifiedCout,jdbcType=INTEGER},
      </if>
      <if test="completeFlag != null" >
        #{completeFlag,jdbcType=INTEGER},
      </if>
      <if test="factoryId != null" >
        #{factoryId,jdbcType=INTEGER},
      </if>
      <if test="bak != null" >
        #{bak,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nobugs.entity.TDailyWork" >
    update t_daily_work
    <set >
      <if test="flag != null" >
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserid != null" >
        create_userid = #{createUserid,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserid != null" >
        update_userid = #{updateUserid,jdbcType=INTEGER},
      </if>
      <if test="scheduleId != null" >
        schedule_id = #{scheduleId,jdbcType=INTEGER},
      </if>
      <if test="equipmentId != null" >
        equipment_id = #{equipmentId,jdbcType=INTEGER},
      </if>
      <if test="equipmentSeq != null" >
        equipment_seq = #{equipmentSeq,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="workingCount != null" >
        working_count = #{workingCount,jdbcType=INTEGER},
      </if>
      <if test="qualifiedCount != null" >
        qualified_count = #{qualifiedCount,jdbcType=INTEGER},
      </if>
      <if test="unqualifiedCout != null" >
        unqualified_cout = #{unqualifiedCout,jdbcType=INTEGER},
      </if>
      <if test="completeFlag != null" >
        complete_flag = #{completeFlag,jdbcType=INTEGER},
      </if>
      <if test="factoryId != null" >
        factory_id = #{factoryId,jdbcType=INTEGER},
      </if>
      <if test="bak != null" >
        bak = #{bak,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nobugs.entity.TDailyWork" >
    update t_daily_work
    set flag = #{flag,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_userid = #{createUserid,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_userid = #{updateUserid,jdbcType=INTEGER},
      schedule_id = #{scheduleId,jdbcType=INTEGER},
      equipment_id = #{equipmentId,jdbcType=INTEGER},
      equipment_seq = #{equipmentSeq,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      working_count = #{workingCount,jdbcType=INTEGER},
      qualified_count = #{qualifiedCount,jdbcType=INTEGER},
      unqualified_cout = #{unqualifiedCout,jdbcType=INTEGER},
      complete_flag = #{completeFlag,jdbcType=INTEGER},
      factory_id = #{factoryId,jdbcType=INTEGER},
      bak = #{bak,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>