<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nobugs.dao.TEquipmentProductMapper" >
  <resultMap id="BaseResultMap" type="com.nobugs.entity.TEquipmentProduct" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="equipment_id" property="equipmentId" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="yield" property="yield" jdbcType="INTEGER" />
    <result column="unit" property="unit" jdbcType="INTEGER" />
    <result column="factory_id" property="factoryId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, equipment_id, product_id, yield, unit, factory_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_equipment_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByEquipmentName" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from t_equipment_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_equipment_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByEquipmentId" parameterType="java.lang.Integer" >
    delete from t_equipment_product
    where  equipment_id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nobugs.entity.TEquipmentProduct" >
    insert into t_equipment_product ( equipment_id, product_id,
      yield, unit, factory_id
      )
    values ( #{ equipmentId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER},
      #{yield,jdbcType=INTEGER}, #{unit,jdbcType=INTEGER}, #{factoryId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.nobugs.entity.TEquipmentProduct" >
    insert into t_equipment_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="equipmentId != null" >
        equipment_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="yield != null" >
        yield,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="factoryId != null" >
        factory_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="equipmentId != null" >
        #{equipmentId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="yield != null" >
        #{yield,jdbcType=INTEGER},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=INTEGER},
      </if>
      <if test="factoryId != null" >
        #{factoryId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nobugs.entity.TEquipmentProduct" >
    update t_equipment_product
    <set >
      <if test="equipmentId != null" >
        equipment_id = #{equipmentId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="yield != null" >
        yield = #{yield,jdbcType=INTEGER},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=INTEGER},
      </if>
      <if test="factoryId != null" >
        factory_id = #{factoryId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nobugs.entity.TEquipmentProduct" >
    update t_equipment_product
    set equipment_id = #{equipmentId,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=INTEGER},
      yield = #{yield,jdbcType=INTEGER},
      unit = #{unit,jdbcType=INTEGER},
      factory_id = #{factoryId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updatefive" parameterType="com.nobugs.entity.TEquipmentProduct" >
    update t_equipment_product
    set
      product_id = #{productId,jdbcType=INTEGER},
      yield = #{yield,jdbcType=INTEGER},
      unit = #{unit,jdbcType=INTEGER},
      factory_id = #{factoryId,jdbcType=INTEGER}
    where equipment_id = #{equipmentId,jdbcType=INTEGER}
  </update>

</mapper>