<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nobugs.dao.TProductScheduleMapper" >
  <resultMap id="BaseResultMap" type="com.nobugs.entity.TProductSchedule" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_userid" property="createUserid" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_userid" property="updateUserid" jdbcType="INTEGER" />
    <result column="schedule_seq" property="scheduleSeq" jdbcType="VARCHAR" />
    <result column="schedule_count" property="scheduleCount" jdbcType="INTEGER" />
    <result column="schedule_status" property="scheduleStatus" jdbcType="INTEGER" />

    <!--计划扩展-->
    <result column="plan_id" property="planId" jdbcType="INTEGER" />
    <result column="plan_seq" property="planSeq" jdbcType="VARCHAR" />
    <result column="plan_count" property="planCount" jdbcType="INTEGER" />


    <!--产品扩展-->
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />

    <!--设备扩展-->
    <result column="equipment_id" property="equipmentId" jdbcType="INTEGER" />
    <result column="equipment_seq" property="equipmentSeq" jdbcType="VARCHAR" />

    <result column="start_date" property="startDate" jdbcType="DATE" />
    <result column="end_date" property="endDate" jdbcType="DATE" />
    <result column="factory_id" property="factoryId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, flag, create_time, create_userid, update_time, update_userid, schedule_seq, schedule_count, 
    schedule_status, plan_id, product_id, equipment_id, start_date, end_date, factory_id
  </sql>

  <sql id="View_v_schedule" >
    id, flag, create_time, create_userid, update_time, update_userid, schedule_seq, schedule_count,
    schedule_status, plan_id, product_id, equipment_id, start_date, end_date, factory_id,
    plan_seq, plan_count, product_name, equipment_seq
  </sql>



  <select id="selectScheduleSeqs" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from t_product_schedule
    where schedule_status!=1
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="View_v_schedule" />
    from v_schedule
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!--订单详情使用，查出调度信息以及对应的设备序列号-->
  <select id="selectByPlanId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    SELECT s.*, e.equipment_seq
    FROM t_product_schedule AS s
		 LEFT JOIN t_equipment AS e ON (s.equipment_id = e.id)
    WHERE s.plan_id = #{planId,jdbcType=INTEGER}
  </select>


  <!--生产调度管理 查询使用-->
  <select id="searchByPage" resultMap="BaseResultMap" >
    SELECT
    <include refid="View_v_schedule" />
    FROM v_schedule
    WHERE
    <trim suffixOverrides="and" >

      <if test="t.planSeq != null and !t.planSeq.equals('')" >
        plan_seq = #{t.planSeq,jdbcType=VARCHAR} and
      </if>
      <if test="t.scheduleSeq != null and !t.scheduleSeq.equals('')" >
        schedule_seq = #{t.scheduleSeq,jdbcType=VARCHAR} and
      </if>
      <if test="t.productName != null and !t.productName.equals('')" >
        product_name = #{t.productName,jdbcType=VARCHAR} and
      </if>
      <if test="t.factoryId != null" >
        factory_id = #{t.factoryId,jdbcType=INTEGER} and
      </if>
    </trim>
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_product_schedule
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nobugs.entity.TProductSchedule" >
    insert into t_product_schedule (id, flag, create_time, 
      create_userid, update_time, update_userid, 
      schedule_seq, schedule_count, schedule_status, 
      plan_id, product_id, equipment_id, 
      start_date, end_date, factory_id
      )
    values (#{id,jdbcType=INTEGER}, #{flag,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUserid,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUserid,jdbcType=INTEGER}, 
      #{scheduleSeq,jdbcType=VARCHAR}, #{scheduleCount,jdbcType=INTEGER}, #{scheduleStatus,jdbcType=INTEGER}, 
      #{planId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{equipmentId,jdbcType=INTEGER}, 
      #{startDate,jdbcType=DATE}, #{endDate,jdbcType=DATE}, #{factoryId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.nobugs.entity.TProductSchedule"
          keyProperty="id" useGeneratedKeys="true" >
    insert into t_product_schedule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUserid != null" >
        create_userid,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUserid != null" >
        update_userid,
      </if>
      <if test="scheduleSeq != null" >
        schedule_seq,
      </if>
      <if test="scheduleCount != null" >
        schedule_count,
      </if>
      <if test="scheduleStatus != null" >
        schedule_status,
      </if>
      <if test="planId != null" >
        plan_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="equipmentId != null" >
        equipment_id,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="factoryId != null" >
        factory_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserid != null" >
        #{createUserid,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserid != null" >
        #{updateUserid,jdbcType=INTEGER},
      </if>
      <if test="scheduleSeq != null" >
        #{scheduleSeq,jdbcType=VARCHAR},
      </if>
      <if test="scheduleCount != null" >
        #{scheduleCount,jdbcType=INTEGER},
      </if>
      <if test="scheduleStatus != null" >
        #{scheduleStatus,jdbcType=INTEGER},
      </if>
      <if test="planId != null" >
        #{planId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="equipmentId != null" >
        #{equipmentId,jdbcType=INTEGER},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=DATE},
      </if>
      <if test="factoryId != null" >
        #{factoryId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nobugs.entity.TProductSchedule" >
    update t_product_schedule
    <set >
      <if test="flag != null" >
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserid != null" >
        create_userid = #{createUserid,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserid != null" >
        update_userid = #{updateUserid,jdbcType=INTEGER},
      </if>
      <if test="scheduleSeq != null" >
        schedule_seq = #{scheduleSeq,jdbcType=VARCHAR},
      </if>
      <if test="scheduleCount != null" >
        schedule_count = #{scheduleCount,jdbcType=INTEGER},
      </if>
      <if test="scheduleStatus != null" >
        schedule_status = #{scheduleStatus,jdbcType=INTEGER},
      </if>
      <if test="planId != null" >
        plan_id = #{planId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="equipmentId != null" >
        equipment_id = #{equipmentId,jdbcType=INTEGER},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=DATE},
      </if>
      <if test="factoryId != null" >
        factory_id = #{factoryId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nobugs.entity.TProductSchedule" >
    update t_product_schedule
    set flag = #{flag,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_userid = #{createUserid,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_userid = #{updateUserid,jdbcType=INTEGER},
      schedule_seq = #{scheduleSeq,jdbcType=VARCHAR},
      schedule_count = #{scheduleCount,jdbcType=INTEGER},
      schedule_status = #{scheduleStatus,jdbcType=INTEGER},
      plan_id = #{planId,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=INTEGER},
      equipment_id = #{equipmentId,jdbcType=INTEGER},
      start_date = #{startDate,jdbcType=DATE},
      end_date = #{endDate,jdbcType=DATE},
      factory_id = #{factoryId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--订单完成使用-->
  <update id="updateCom" parameterType="java.lang.Integer">
    UPDATE t_product_schedule AS s SET s.schedule_status = 2 WHERE s.plan_id = #{planId, jdbcType=INTEGER}
  </update>
</mapper>